# IntelliJ IDEA
.idea/

# Compiled files
*.class
*.war
*.ear
out/
target/

# Gradle
.gradle/
build/

# Maven
target/
pom.xml.*
*.iml
*.ipr
*.iws
.idea_modules/

# Eclipse
.classpath
.project
.settings/
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Other
.DS_Store
Thumbs.db
